h1 {
    text-decoration:none;
    border:0;
    width : 100px;
    height : 70px;
    margin : 0;
    padding : 0;
    left: 25px;
    top: 5px;
    position: relative;
    background : url(static/logolch.png);

}

hr {
  
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2c4381;
    margin: 1em 0;
    padding: 0; 
  
}

.panel-primary {
  
   padding: 2; 
  margin: 1em 0;
  
}


.MathJax_Display{
  
text-align: left  !important;;  
  
}
